.header-img img {
  height: 500px;
  max-width: 1500px;
}
/* main .container */
.main-content-container {
  flex: 2;
  padding: 20px;
  padding-bottom: 80px;
}
.main-container {
  display: flex;

  max-width: 1200px;
  margin: 0 auto;
}
.main-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.side-bar {
  flex: 1;
  background-color: #b7f2fb;
  padding: 20px;
  min-width: 340px;
}
.info-section {
  margin-bottom: 20px;
}
.info-section h3 {
  color: #0066cc;
  margin-bottom: 5px;
}
.info-section p {
  margin-top: 0;
}
.museum-image {
  width: 702px;
  max-height: 145px;
  margin-top: 20px;
}
.hours {
  list-style-type: none;
  padding: 0;
}
.hours li {
  margin-bottom: 5px;
}
/* main container */
/* explore section */
.explore-container {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(15rem, 1fr));
  padding-top: 80px;
  padding-bottom: 80px;
}
.explore-wrapper {
  padding: 16px;
}

.kids-card-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.explore-card {
  background-color: #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  max-width: 1050px;
  display: flex;
  flex-direction: column;
}
.explore-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.explore-img,
.description {
  width: 70%;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}
.explore-img {
  width: 290px;
  height: 420px;
}
.description {
  padding: 20px;
}

@media (max-width: 768px) {
  .explore-card-content,
  .main-container,
  .event-card-container {
    flex-direction: column;
  }

  .explore-img,
  .description {
    margin-bottom: 10px;
  }
}
/* explore section */
/* event section */

.event-card-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
}
.event-card {
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-top: 150px;
}

.event-card-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-top: 60px;
}

.event-card-image {
  margin-bottom: 20px;
}

.event-card-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-card-content h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #908d8d;
}

.event-card-content p {
  font-size: 1rem;
  color: #9d9d9d;
  line-height: 1.5;
}

/* exhibition section */

.exhibition-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.exhibition-images img {
  width: calc(20% - 8px);
  height: 100px;
  object-fit: cover;
}
.exhibition-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

.exhibition-card {
  background-color: rgb(211, 203, 203);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  margin: 30px;
  max-width: 350px;
  overflow: hidden;
  transition: transform 0.2s;
}

.exhibition-card:hover {
  transform: translateY(-10px);
}

.card-img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  min-height: 335px;
}

.exhibition-content-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-grow: 1;
}

.exhibition-card-title {
  font-size: 24px;
  margin: 10px 10px 10px 10px;
}

.exhibition-card-description {
  font-size: 16px;
  color: black;
  flex-grow: 1;
  position: relative;
  margin: 5px 10px 5px 10px;
}

